body {
    perspective: 800px;
}

.wrapper {
    height: 300px;
    width: 300px;
}

.side-1, .side-2 {
    height: 300px;
    width: 300px;
    position: absolute;
    backface-visibility: hidden;
}

.wrapper {
    transition: all 2s;
    transform-style: preserve-3d;
}

.side-2 {
    background-color: sienna;
    transform: rotateY(180deg);
}
.side-1 {
    background-color: burlywood;
    z-index: 100;
}

.wrapper:hover {
    transform: rotateY(-180deg);
}

div{
    height: 200px;
    width: 150px;    
}
/* .wrap{
    margin-left: 40%;
    margin-top: 10%;
} */
.side-a,
.side-b{
    position: absolute;
    backface-visibility: hidden;
}

.side-b{
    background-color: cornflowerblue;
    transform: rotateY(180deg);
}

.side-a{
    background-color: yellowgreen;
    background-image: url('../Vegeta.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 500;
}

.wrap{
    transition: all 2s;
    transform-style: preserve-3d;
}

.wrap:hover{
    transform: rotateY(180deg);
}