body {
    font-family: 'Courier New', Courier, monospace;
}

h1{
    background-color: lightblue;
    padding: 1%;
    margin: 1%;
    text-align: center;
    font-size: 2.5em;
}

.container {
    margin: 1%;
    padding: 1%;
   
}

.block {
    max-width: 500px;
    padding-top: 0px;
    border: 2px solid lightgreen;
    border-radius: 10px;
    margin: 40px 0px;
}

.block h2{
    background-color: aquamarine;
    position: sticky;
    top: 2px;
    font-size: 2em;
}

.block ul {
    font-size: 1.25em;
    text-align: initial;
    line-height: 1.5;
}