body {
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

#navbar {
    float: right;
}

nav {
    padding: 15px;
    background-color: steelblue;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

#toi {
    margin: 30px;
    padding: 20px;
}

#programming, #sports, #movies, #anime {
    box-shadow: 1px 1px 3px black;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
}

#programming::after, #programming::before, #sports::after, #sports::before,
#movies::before, #movies::after, #anime::after, #anime::before {
    content: "";
    display: table;
    clear: both;
}

h2 {
    border-bottom: 1px solid black;
}

#programming img, #sports img, #movies img, #anime img {
    width: 40%;
    float: left;
    margin-right: 20px;
}

p {
    font-size: 21px;
}

button {
    font-size: 20px;
    text-decoration: none;
    background-color: steelblue;
    box-shadow: 1px 1px 3px black;
}

button a{
    text-decoration: none;
    color: white;
}

#active {
    background-color: skyblue;
}

.sp p{
    font-size: 18px;
}